@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-sans: var(--font-inter);
  
  --color-border-action: #dee0e3;
  --color-surface-neutral: #f7f7f8;
  --color-text-primary: #14151a;
  --color-text-secondary: rgba(15, 19, 36, 0.6);
  --color-tag-purple: #c300e5;
  --color-tag-blue: #0c3aff;
  --color-tag-green: #00e599;
  --color-tag-orange: #ff6f15;

  --radius-card-outer: 16px;
  --radius-card-inner: 10px;
  --radius-tag: 7px;
  --radius-toggle: 6px;

  --shadow-xs: 0 1px 2px rgba(20,21,26,0.05), inset 0 -1px 1px rgba(0,0,0,0.10);
  
  --text-caption: 14px;
  --text-caption--line-height: 20px;
  --text-caption--letter-spacing: -0.1px;
}

@layer base {
  body {
    background-color: #ffffff;
    color: var(--color-text-primary);
    overflow-x: hidden;
  }
}
